body>section {
    background-color: aqua;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
    
}
iframe {
    width: 400px;
}
img {
    width: 400px;
    transition: transform 0.2s;
}
img:hover {
    transform: scale(0.9);
}
h1 {
    
}